footer {
  display: block;
  position: relative;
  text-align: center;
  line-height: 1.8;
  padding: 1rem 0;
  color: #9e9e9e;
  background: #f7f7f7;
  margin: 0 calc(-2rem - 15px); }

p.site-info {
  display: block;
  color: #9e9e9e;
  font-size: 1.1rem;
  margin: 0;
  line-height: 2.4; }
  p.site-info a {
    color: #1abc9c;
    border-bottom: 1px solid #1abc9c; }

.my-face {
  animation: my-face 5s infinite ease-in-out;
  display: inline-block;
  margin: 0 5px; }

@media (max-width: 768px) {
  footer {
    margin: 0 -1.5rem; } }
.header-wrap {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900;
  width: 100%;
  box-shadow: 0 5px 4px -4px rgba(25, 25, 25, 0.1);
  color: #888;
  background: white; }

.sidebar-active .header-wrap {
  width: calc(100% - 250px); }

@media (max-width: 768px) {
  .sidebar-active .header-wrap {
    width: calc(100% - 200px); } }
header {
  display: block;
  max-width: 960px;
  margin: 0 auto; }
  header .site-brand {
    float: left;
    height: 54px;
    padding-left: 1rem; }
  header .site-navigation {
    float: right;
    height: 54px;
    padding-right: 1rem; }
  header::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  header .iconfont.icon-menu {
    display: none; }

.site-brand {
  text-align: center;
  transition: all 0.1s linear;
  line-height: 54px;
  position: relative; }
  .site-brand .site-title {
    margin: 0;
    font-size: 2rem;
    transition: all 0.1s linear; }
    .site-brand .site-title a {
      transition: all 0.1s linear;
      display: inline-block;
      color: #000;
      font-weight: 333;
      font-family: "Sakura";
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

.site-navigation {
  text-align: center;
  height: 54px;
  line-height: 54px; }
  .site-navigation ul.nav-menu {
    list-style: none;
    font-size: 1.4em;
    display: block; }
    .site-navigation ul.nav-menu li.nav-item {
      display: inline-block;
      margin: 0 1.4rem;
      position: relative; }
      .site-navigation ul.nav-menu li.nav-item:last-child {
        margin-right: 0; }
      .site-navigation ul.nav-menu li.nav-item a {
        display: block;
        transition: all 0.1s linear;
        color: #888; }
        .site-navigation ul.nav-menu li.nav-item a:hover {
          color: #222; }
    .site-navigation ul.nav-menu li.nav-item.hover a {
      color: #222; }
  .site-navigation ul.nav-menu--dropdown {
    position: absolute;
    top: 53px;
    left: 50%;
    list-style: none;
    text-align: center;
    transform: translateX(-50%);
    overflow: hidden;
    width: 0;
    transition: all 0.05s linear;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .site-navigation ul.nav-menu--dropdown li {
      background: white;
      height: 35px;
      line-height: 35px; }
  .site-navigation ul.nav-menu--dropdown.active {
    width: 130px;
    box-shadow: 0px 2px 3px rgba(25, 25, 25, 0.1); }

@media (max-width: 768px) {
  header {
    position: relative; }
    header .site-brand {
      float: left;
      display: block;
      height: 54px; }
    header .site-navigation {
      clear: both;
      float: none;
      height: 0;
      overflow-y: auto;
      position: fixed;
      z-index: 900;
      top: 54px;
      left: 0;
      width: 100vw;
      background: white;
      transition: height 0.1s linear; }
    header .site-navigation.active {
      height: calc(100vh - 54px); }
    header .iconfont.icon-menu {
      display: inline;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 3rem;
      color: #333; }

  .site-navigation {
    text-align: left;
    height: 40px;
    line-height: 40px; }
    .site-navigation ul.nav-menu {
      list-style: none;
      font-size: 1.4em;
      display: block; }
      .site-navigation ul.nav-menu li.nav-item {
        display: block;
        margin: 0 1.4rem;
        position: relative; }
        .site-navigation ul.nav-menu li.nav-item a {
          display: block;
          transition: all 0.1s linear;
          color: #888; }
          .site-navigation ul.nav-menu li.nav-item a:hover {
            color: #222; }
    .site-navigation ul.nav-menu--dropdown {
      position: static;
      list-style: none;
      text-align: left;
      transform: translateX(0);
      overflow: hidden;
      transition: all 0.05s linear;
      border: none;
      box-shadow: none;
      display: none; }
      .site-navigation ul.nav-menu--dropdown li {
        margin-left: 20px;
        height: 35px;
        line-height: 35px;
        margin-top: -1px; }
    .site-navigation ul.nav-menu--dropdown.active {
      display: block;
      box-shadow: none;
      width: auto; } }
@media (max-width: 767px) {
  .timeline {
    margin-left: 10px !important; } }
.timeline {
  position: relative;
  border-left: 4px solid #f5f5f5;
  margin-left: 50px;
  margin-top: 5px;
  font-size: 1.4rem; }
  .timeline .archive-move-on {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -8px;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    background: #555;
    border: 1px solid #fff;
    border-radius: 50%; }
  .timeline .archive-page-counter {
    position: relative;
    top: -4px;
    left: 20px; }
  .timeline .collection-title {
    position: relative;
    margin: 60px 0; }
    .timeline .collection-title h2 {
      margin-left: 20px; }
    .timeline .collection-title::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 50%;
      margin-left: -6px;
      margin-top: -4px;
      width: 8px;
      height: 8px;
      background: #bbb;
      border-radius: 50%; }
  .timeline .posts-collapse {
    margin: 30px 0;
    position: relative;
    border-bottom: 1px dashed #ccc;
    transition: all 0.15s linear; }
    .timeline .posts-collapse::before {
      transition: all 0.15s linear;
      content: " ";
      position: absolute;
      top: 8px;
      width: 6px;
      height: 6px;
      left: 0;
      margin-left: -6px;
      border: 1px solid #fff;
      background: #bbb;
      border-radius: 50%; }
    .timeline .posts-collapse h2 {
      margin: 20px 0 15px;
      margin-left: 60px;
      font-size: 16px;
      font-weight: 400;
      line-height: inherit; }
      .timeline .posts-collapse h2 a {
        color: #666;
        border-bottom: none; }
    .timeline .posts-collapse .post-meta {
      position: absolute;
      font-size: 12px;
      left: 20px;
      top: 5px; }
    .timeline .posts-collapse:hover {
      border-bottom-color: #fc6868; }
      .timeline .posts-collapse:hover::before {
        background: #fc6868; }
      .timeline .posts-collapse:hover h2 a {
        color: #222; }

#reward {
  margin: 2rem 0 4rem;
  text-align: center; }
  #reward #reward-meta {
    margin-bottom: 5px;
    color: #6b7484; }
  #reward #reward-btn {
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    cursor: pointer; }
    #reward #reward-btn span {
      display: inline-block;
      background: #e26d6d;
      height: 34px;
      width: 80px;
      border-radius: 4px;
      line-height: 34px;
      color: #fff;
      font-size: 15px;
      transition: .1s linear background; }
      #reward #reward-btn span:hover {
        background: #f7877f; }
  #reward #reward-qrcode {
    text-align: center;
    display: none;
    margin-top: 1.5rem; }
    #reward #reward-qrcode .reward-qrcode--container {
      display: inline-block;
      color: #101116; }
      #reward #reward-qrcode .reward-qrcode--container .qrcode-img {
        width: 200px;
        height: 200px;
        max-width: 100%;
        display: inline-block;
        margin: 1rem 2rem 0; }
      #reward #reward-qrcode .reward-qrcode--container .qrcode-meta {
        margin: .6rem 0 0;
        font-size: 1.3rem; }

@media (max-width: 767px) {
  #reward #reward-qrcode .reward-qrcode--container .qrcode-img {
    width: 140px;
    height: 140px;
    margin: 1rem 1rem 0; } }
#app {
  margin: 0 auto;
  margin-top: 54px;
  background-color: white;
  padding: 5rem 2rem 0;
  transition: 0.15s;
  position: relative; }

@media (max-width: 768px) {
  #app {
    padding: 2.5rem 1.5rem 0; } }
.back-to-top {
  display: block;
  position: fixed;
  z-index: 900;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  text-align: center;
  background: #222;
  font-size: 1.3rem;
  opacity: 0.6;
  color: #fff;
  padding: 0 0.6rem;
  height: 2.4rem;
  line-height: 2.4rem; }

#sidebar {
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 600;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.15s;
  display: block; }

#app.sidebar-active {
  margin-right: 250px;
  max-width: none; }

#sidebar.sidebar-active {
  width: 250px;
  overflow-y: auto; }

@media (max-width: 768px) {
  #app.sidebar-active {
    margin-right: 200px; }

  #sidebar.sidebar-active {
    width: 200px; } }
.hidden {
  display: none;
  opacity: 0;
  width: 0;
  height: 0; }

.container.home-index .article-content--inner img {
  max-width: 300px !important; }
.container.home-index .pc-view {
  display: block; }
.container.home-index .article-meta .pc-view {
  display: inline-block; }
.container.home-index .mobile-view {
  display: none; }
@media (max-width: 768px) {
  .container.home-index .pc-view {
    display: none !important; }
  .container.home-index .mobile-view {
    display: block !important;
    font-style: italic !important; } }

.post-index .post {
  padding-bottom: 0; }

.post-navigation {
  clear: both;
  margin: 0.5rem 0 1.5rem;
  width: 100%;
  border-top: 1px solid #eee;
  font-size: 1.4rem;
  color: #555;
  position: relative; }
  .post-navigation::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .post-navigation div {
    padding: 10px 0 0 0;
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .post-navigation div .iconfont {
      position: absolute;
      top: 50%;
      transform: tranlate(0, -50%);
      font-weight: bolder;
      font-size: 0.8em; }
    .post-navigation div a {
      line-height: 2.5rem;
      transition: all 0.1s linear;
      color: #555; }
      .post-navigation div a:hover {
        color: #222; }
  .post-navigation div.nav-pre {
    float: left;
    padding-left: 1rem; }
    .post-navigation div.nav-pre .iconfont {
      left: 0; }
  .post-navigation div.nav-next {
    float: right;
    text-align: right;
    padding-right: 1rem; }
    .post-navigation div.nav-next .iconfont {
      right: 0; }

.comment-title {
  margin: 8rem 0 1.4rem;
  font-size: 2rem;
  font-weight: 400; }
  .comment-title .iconfont {
    font-size: 1em; }

@media (max-width: 768px) {
  .comment-title {
    margin-top: 5rem; } }
.container.tag-index .tag-list-item, .container.category-index .category-list-item {
  display: inline-block;
  margin: 0.4rem 1.4rem;
  font-size: 1.6rem;
  font-family: "Monda", "PingFang SC", "Microsoft YaHei", sans-serif; }
  .container.tag-index .tag-list-item a, .container.category-index .category-list-item a {
    display: inline-block;
    position: relative;
    color: #555;
    text-decoration: none;
    padding: 0 0.3rem; }
    .container.tag-index .tag-list-item a::before, .container.category-index .category-list-item a::before {
      content: "";
      position: absolute;
      width: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: #f03838;
      transition: all 0.3s ease; }
    .container.tag-index .tag-list-item a:hover, .container.category-index .category-list-item a:hover {
      color: #f03838; }
    .container.tag-index .tag-list-item a:hover::before, .container.category-index .category-list-item a:hover::before {
      width: 100%;
      left: 0;
      right: auto; }
  .container.tag-index .tag-list-item .tag-list-count, .container.category-index .category-list-item .tag-list-count {
    color: #bbb;
    font-style: normal;
    padding: 0 0.2rem; }
    .container.tag-index .tag-list-item .tag-list-count::before, .container.category-index .category-list-item .tag-list-count::before {
      content: "["; }
    .container.tag-index .tag-list-item .tag-list-count::after, .container.category-index .category-list-item .tag-list-count::after {
      content: "]"; }

.container.tag-index {
  line-height: 3; }
  .container.tag-index h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 0 2rem; }

.container.tag-index .tag-list-item, .container.category-index .category-list-item {
  display: inline-block;
  margin: 0.4rem 1.4rem;
  font-size: 1.6rem;
  font-family: "Monda", "PingFang SC", "Microsoft YaHei", sans-serif; }
  .container.tag-index .tag-list-item a, .container.category-index .category-list-item a {
    display: inline-block;
    position: relative;
    color: #555;
    text-decoration: none;
    padding: 0 0.3rem; }
    .container.tag-index .tag-list-item a::before, .container.category-index .category-list-item a::before {
      content: "";
      position: absolute;
      width: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: #f03838;
      transition: all 0.3s ease; }
    .container.tag-index .tag-list-item a:hover, .container.category-index .category-list-item a:hover {
      color: #f03838; }
    .container.tag-index .tag-list-item a:hover::before, .container.category-index .category-list-item a:hover::before {
      width: 100%;
      left: 0;
      right: auto; }
  .container.tag-index .tag-list-item .category-list-count, .container.category-index .category-list-item .category-list-count {
    color: #bbb;
    font-style: normal;
    padding: 0 0.2rem; }
    .container.tag-index .tag-list-item .category-list-count::before, .container.category-index .category-list-item .category-list-count::before {
      content: "["; }
    .container.tag-index .tag-list-item .category-list-count::after, .container.category-index .category-list-item .category-list-count::after {
      content: "]"; }

.container.category-index {
  line-height: 3; }
  .container.category-index h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 0 2rem; }

.friend-navigation {
  padding: 0 0 3.5rem; }
  .friend-navigation::after {
    content: " ";
    display: block;
    clear: both; }

.card {
  width: 320px;
  font-size: 1.6rem;
  line-height: 30px;
  padding: 10px 20px;
  border-radius: 3px;
  transition-duration: 0.15s;
  margin-bottom: 2.3rem;
  cursor: pointer; }
  .card:nth-child(odd) {
    float: left; }
  .card:nth-child(even) {
    float: right; }
  .card:hover {
    transform: scale(1.1);
    background-color: #f7f7f7; }
  .card img {
    width: 5rem;
    height: 5rem;
    float: left;
    margin-top: 5px;
    margin-right: 1em; }
  .card .card-header {
    font-style: italic; }
    .card .card-header a {
      font-style: normal;
      color: #f03838;
      font-weight: bold;
      text-decoration: none; }
    .card .card-header a:hover {
      color: #f03838;
      text-decoration: none; }
  .card .card-meta {
    font-size: 1.4rem;
    color: #9e9e9e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.15rem; }

@media (max-width: 768px) {
  .card {
    float: none !important;
    margin: 0 auto 1.6rem !important; } }
.friend-index .markdown-body {
  margin-bottom: 3rem; }
@media (max-width: 768px) {
  .friend-index #vcomments {
    margin-top: 5rem !important; } }

.about-index .markdown-body {
  margin-bottom: 3rem; }
@media (max-width: 768px) {
  .about-index #vcomments {
    margin-top: 5rem !important; } }

@keyframes my-face {
  2% {
    transform: translateY(1.5px) rotate(1.5deg); }
  4% {
    transform: translateY(-1.5px) rotate(-0.5deg); }
  6% {
    transform: translateY(1.5px) rotate(-1.5deg); }
  8% {
    transform: translateY(-1.5px) rotate(-1.5deg); }
  10% {
    transform: translateY(2.5px) rotate(1.5deg); }
  12% {
    transform: translateY(-0.5px) rotate(1.5deg); }
  14% {
    transform: translateY(-1.5px) rotate(1.5deg); }
  16% {
    transform: translateY(-0.5px) rotate(-1.5deg); }
  18% {
    transform: translateY(0.5px) rotate(-1.5deg); }
  20% {
    transform: translateY(-1.5px) rotate(2.5deg); }
  22% {
    transform: translateY(0.5px) rotate(-1.5deg); }
  24% {
    transform: translateY(1.5px) rotate(1.5deg); }
  26% {
    transform: translateY(0.5px) rotate(0.5deg); }
  28% {
    transform: translateY(0.5px) rotate(1.5deg); }
  30% {
    transform: translateY(-0.5px) rotate(2.5deg); }
  32% {
    transform: translateY(1.5px) rotate(-0.5deg); }
  34% {
    transform: translateY(1.5px) rotate(-0.5deg); }
  36% {
    transform: translateY(-1.5px) rotate(2.5deg); }
  38% {
    transform: translateY(1.5px) rotate(-1.5deg); }
  40% {
    transform: translateY(-0.5px) rotate(2.5deg); }
  42% {
    transform: translateY(2.5px) rotate(-1.5deg); }
  44% {
    transform: translateY(1.5px) rotate(0.5deg); }
  46% {
    transform: translateY(-1.5px) rotate(2.5deg); }
  48% {
    transform: translateY(-0.5px) rotate(0.5deg); }
  50% {
    transform: translateY(0.5px) rotate(0.5deg); }
  52% {
    transform: translateY(2.5px) rotate(2.5deg); }
  54% {
    transform: translateY(-1.5px) rotate(1.5deg); }
  56% {
    transform: translateY(2.5px) rotate(2.5deg); }
  58% {
    transform: translateY(0.5px) rotate(2.5deg); }
  60% {
    transform: translateY(2.5px) rotate(2.5deg); }
  62% {
    transform: translateY(-0.5px) rotate(2.5deg); }
  64% {
    transform: translateY(-0.5px) rotate(1.5deg); }
  66% {
    transform: translateY(1.5px) rotate(-0.5deg); }
  68% {
    transform: translateY(-1.5px) rotate(-0.5deg); }
  70% {
    transform: translateY(1.5px) rotate(0.5deg); }
  72% {
    transform: translateY(2.5px) rotate(1.5deg); }
  74% {
    transform: translateY(-0.5px) rotate(0.5deg); }
  76% {
    transform: translateY(-0.5px) rotate(2.5deg); }
  78% {
    transform: translateY(-0.5px) rotate(1.5deg); }
  80% {
    transform: translateY(1.5px) rotate(1.5deg); }
  82% {
    transform: translateY(-0.5px) rotate(0.5deg); }
  84% {
    transform: translateY(1.5px) rotate(2.5deg); }
  86% {
    transform: translateY(-1.5px) rotate(-1.5deg); }
  88% {
    transform: translateY(-0.5px) rotate(2.5deg); }
  90% {
    transform: translateY(2.5px) rotate(-0.5deg); }
  92% {
    transform: translateY(0.5px) rotate(-0.5deg); }
  94% {
    transform: translateY(2.5px) rotate(0.5deg); }
  96% {
    transform: translateY(-0.5px) rotate(1.5deg); }
  98% {
    transform: translateY(-1.5px) rotate(-0.5deg); }
  0%,
  100% {
    transform: translate(0) rotate(0); } }
.mjx-chtml {
  outline: 0; }

.MJXc-display {
  overflow-x: auto;
  overflow-y: hidden; }

.v hr {
  margin: 13.2px 0 !important; }

.v blockquote {
  margin: 8px 0 !important;
  padding: 0 0 0 16px !important; }

.v .vinput {
  font-size: 12.4px !important; }

.v .vwrap .vcontrol .col {
  font-size: 11.6px !important; }

.v .vwrap .vmark .valert {
  padding-top: 48px !important; }

.v .vwrap .vmark .valert .vtext {
  padding: 16px 0 !important; }

.v .vwrap .vmark .valert .vcode {
  width: 75px !important;
  border-radius: 5px !important;
  padding: 8px !important; }

@media screen and (max-width: 720px) {
  .v .vwrap .vmark .valert {
    padding-top: 88px !important; }

  .v .vwrap .vmark .valert .vtext {
    padding: 16px 0 !important; } }
.v .power {
  padding: 8px 0 !important; }

.v .power,
.v .power a {
  font-size: 12px !important; }

.v .vinfo .col {
  font-size: 14px !important; }

.v .vinfo .vcount .vnum {
  font-size: 20px !important; }

.v ul {
  margin-left: 20px !important; }

.v .veditor {
  min-height: 140px !important;
  font-size: 14px !important; }

.v .vbtn {
  border-radius: 4.8px !important;
  padding: 8px 20px !important;
  font-size: 14px !important; }

.v .vbtn + .vbtn {
  margin-left: 20px !important; }

.v .vempty {
  padding: 20px !important; }

.v .vlist .vcard {
  padding-top: 24px !important; }

.v .vlist .vcard .vimg {
  width: 50px !important;
  height: 50px !important;
  margin-right: 12.04px !important;
  padding: 2px !important; }

@media screen and (max-width: 720px) {
  .v .vlist .vcard .vimg {
    width: 40px !important;
    height: 40px !important; } }
.v .vlist .vcard .vhead .vnick {
  font-size: 14px !important;
  margin-right: 14px !important; }

.v .vlist .vcard .vhead .vsys {
  padding: 3.2px 8px !important;
  font-size: 12px !important;
  border-radius: 3.2px !important;
  margin-right: 4.8px !important; }

.v .vlist .vcard .vh {
  padding-bottom: 8px !important; }

.v .vlist .vcard .vh .vtime {
  font-size: 12px !important;
  margin-right: 14px !important; }

.v .vlist .vcard .vh .vmeta .vat {
  font-size: 13px !important; }

.v .vlist .vcard .vcontent {
  font-size: 14px !important;
  margin-bottom: 12px !important;
  padding-top: 10px !important; }

.v .vlist .vcard .vcontent.expand {
  max-height: 180px !important; }

.v .vlist .vcard .vcontent.expand:before {
  bottom: 50.4px !important; }

.v .vlist .vcard .vcontent.expand:after {
  height: 50.4px !important;
  line-height: 50.4px !important; }

.v .vlist .vcard .vquote {
  margin-top: 16px !important;
  padding-left: 16px !important; }

.v .vlist .vcard .vquote .vimg {
  width: 35.6px !important;
  height: 35.6px !important; }

.v .vpage .vmore {
  margin: 16px 0 !important; }

.page-navigation {
  position: relative;
  margin: 3rem 0;
  display: flex;
  justify-content: space-around; }
  .page-navigation a {
    color: #222;
    font-size: 1.4rem;
    border: 2px solid #222;
    line-height: 24px;
    height: 26px;
    padding: 0 14px;
    border-radius: 2px;
    transition-duration: 0.2s;
    text-align: center; }
  .page-navigation a:hover {
    color: white;
    background-color: #222; }

.post {
  position: relative;
  display: block;
  padding: 7rem 0; }
  .post:first-child {
    padding-top: 0; }
  .post .copy-right {
    margin-bottom: 4rem !important; }
    .post .copy-right blockquote {
      border-width: 3px !important;
      border-radius: 0 !important;
      border-color: #f03838 !important; }
    .post .copy-right a {
      color: #555 !important;
      text-decoration: none !important;
      outline: none !important;
      border-bottom: 1px solid #999 !important;
      word-wrap: break-word !important; }

@media (max-width: 768px) {
  .post {
    padding: 3.5rem 0; } }
.post:not(:first-child)::before {
  content: "";
  width: 150px;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -75px; }

.article-title {
  display: block;
  position: relative;
  color: #212121;
  font-size: 2.4rem;
  line-height: 1.3;
  text-align: center;
  margin: 0;
  padding: 0 2rem; }
  .article-title a {
    display: block;
    color: #212121; }
    .article-title a span {
      padding-bottom: 3px;
      transition: 0.15s;
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0); }
  .article-title a:active,
  .article-title a:hover {
    outline: 0px; }
    .article-title a:active span,
    .article-title a:hover span {
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.7); }

.article-top-meta {
  position: relative;
  color: #9e9e9e;
  font-size: 1.3rem;
  text-align: center;
  margin: 1rem 0; }
  .article-top-meta span {
    margin: 0 0.5rem; }
    .article-top-meta span a {
      color: #9e9e9e;
      transition: 0.15s; }
    .article-top-meta span a:hover {
      color: #f03838; }

.article-content {
  margin: 4rem 0 2rem;
  font-size: 1.6rem;
  color: #424242; }
  .article-content .markdown-body {
    margin: 0 auto; }

.article-footer {
  margin-top: 3rem; }
  .article-footer .article-meta {
    font-size: 1.3rem;
    color: #9e9e9e; }
    .article-footer .article-meta span {
      display: inline-block; }
    .article-footer .article-meta span:not(:last-child) {
      margin-right: 3rem; }
    .article-footer .article-meta span.span--tag {
      display: inline;
      margin-right: 0; }
    .article-footer .article-meta i {
      vertical-align: middle;
      color: #757575;
      margin-right: 0.5rem; }
    .article-footer .article-meta a {
      transition: 0.15s;
      color: #9e9e9e; }
    .article-footer .article-meta a:hover {
      color: #f03838; }
  .article-footer .pull-left {
    float: left; }
  .article-footer .pull-right {
    float: right; }
  .article-footer::after {
    content: " ";
    display: block;
    clear: both; }

#sidebar {
  font-weight: 300; }
  #sidebar p:first-child {
    font-size: 1.5rem;
    text-align: center;
    height: 54px;
    line-height: 54px;
    font-family: "Lato", "PingFang SC", "Microsoft YaHei", sans-serif; }
    #sidebar p:first-child span {
      color: #87ffb2;
      border-bottom: 1px solid #87ffb2;
      display: inline-block;
      line-height: 2;
      text-transform: uppercase;
      letter-spacing: 1px; }
  #sidebar ol {
    display: block;
    text-align: left;
    list-style: none;
    font-size: 1.4rem; }
    #sidebar ol li {
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify;
      line-height: 2; }
    #sidebar ol a {
      transition: all 0.2s ease-in-out;
      color: #ccc;
      border-bottom: solid 1px #777; }
      #sidebar ol a:hover {
        color: #87ffb2;
        border-bottom-color: #87ffb2; }
    #sidebar ol .toc-h2 {
      padding-left: 20px; }
    #sidebar ol .toc-h3 {
      padding-left: 30px; }
    #sidebar ol .toc-h4 {
      padding-left: 40px; }
    #sidebar ol .toc-h5 {
      padding-left: 50px; }
    #sidebar ol .toc-h6 {
      padding-left: 60px; }

@media (max-width: 768px) {
  #sidebar {
    padding: 1rem 0; }
    #sidebar p:first-child {
      margin-top: 1rem; } }
* {
  margin: 0;
  padding: 0; }

html,
body {
  font-size: 10px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  background-color: white;
  overflow-x: hidden; }

div {
  box-sizing: border-box; }

a {
  text-decoration: none;
  background-color: transparent;
  color: black; }

a:hover {
  text-decoration: none; }

.container {
  max-width: 750px;
  min-height: 80vh;
  margin: 0 auto; }

.comment-anchor {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }

/*# sourceMappingURL=base.css.map */
