<div class="social-share"
  style="margin-top: -2rem"
  data-wechat-qrcode-title="<p>微信扫一扫</p>"
  data-wechat-qrcode-helper="<p>微信右上角, 扫一扫分享</p>"
  <% if(theme.social_share.sites){ %> data-sites="<%- theme.social_share.sites%>" <% } %>
  <% if(theme.social_share.disabled){ %> data-disabled="<%- theme.social_share.disabled%>" <% } %>
>
  <span style="color: #6b7487; font-size: 1.4rem;">分享到: </span>
</div>
<script src="https://cdn.bootcss.com/social-share.js/1.0.16/js/social-share.min.js" async>