// post css
.post-index {
  .post {
    padding-bottom: 0;
  }
}

.post-navigation {
  clear: both;
  margin: 0.5rem 0 1.5rem;
  width: 100%;
  border-top: 1px solid #eee;
  font-size: 1.4rem;
  color: #555;

  position: relative;

  &::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  div {
    padding: 10px 0 0 0;
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .iconfont {
      position: absolute;
      top: 50%;
      transform: tranlate(0, -50%);
      font-weight: bolder;
      font-size: 0.8em;
    }

    a {
      line-height: 2.5rem;
      transition: all 0.1s linear;
      color: #555;

      &:hover {
        color: #222;
      }
    }
  }

  div.nav-pre {
    float: left;
    padding-left: 1rem;
    .iconfont {
      left: 0;
    }
  }

  div.nav-next {
    float: right;
    text-align: right;
    padding-right: 1rem;
    .iconfont {
      right: 0;
    }
  }
}

.comment-title {
  margin: 8rem 0 1.4rem;
  font-size: 2rem;
  font-weight: 400;

  .iconfont {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .comment-title {
    margin-top: 5rem;
  }
}

